.contents {
    background-color: whitesmoke;
    border: 1px solid rgb(200, 200, 200);
}

.content-row {
    height: 670px;
    margin: 20px 5%;
    background-color: #ffffff;
    border-radius: .6rem;
    box-shadow: 5px 5px 10px rgb(200, 200, 200);
}

.content-row .left .user-block {
    margin: 10px;
}

.center {
    width: 15%;
}

.content-row .left,
.content-row .right,
.content-row .center {
    display: flex;
    flex-direction: column;
    position: relative;
}

.caption {
    height: 15%;
    margin: 10px 5%;
}

.video {
    height: calc(85% - 75px);
    display: flex;
    position: relative;
    justify-content: center;
}

.video video {
    display: block;
    border-radius: 10px;
    max-width: 100%;
    height: 100%;
    position: relative;
    background-color: black;
    border: 1px solid;
}

.content-row .center {
    flex-direction: column-reverse;
}

.content-row .center .interactive {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center .comment,
.center .share {
    margin: 10px;
}

.center button {
    font-size: 200%;
    color: rgb(65, 65, 65);
    outline: none;
    border: none;
    background: none;
}

.right .comment {
    margin: 5px;
}

.comment .comment-content {
    margin-left: 50px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 15px;
    position: relative;
}

.comment-content .like-count {
    position: absolute;
    right: 10px;
    bottom: -5px;
}

.comment-content .like-count {
    border-radius: 15px;
    background: rgb(220, 220, 220);
    padding: 2px 5px;
    min-width: 50px;
}

.comment .comment-content p {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 10px;
}

.comment .interactive {
    display: flex;
    margin: 10px;
    flex-direction: row-reverse;
}

.comment .interactive a {
    margin: 0px 10px;
    font-weight: 300;
}

.cmt-like {
    display: inline-block;
}

.comment .interactive div:first-child {
    user-select: none;
    display: flex;
}

.cmt-like input {
    display: none;
}

.cmt-like input:checked+label {
    color: #EF233C;
}

.comment-input {
    padding: 10px 5px;
    background: rgb(220, 220, 220);
    width: 100%;
    display: none;
}

.comment-input div {
    height: 35px;
    display: flex;
    background: white;
    border-radius: 15px;
}

.comment-input input {
    font-size: 125%;
    width: 100%;
    margin-left: 15px;
    outline: none;
    border: none;
}

.comment-input button {
    width: 10%;
    outline: none;
    border: none;
    margin-right: 5px;
    background: none;
}

.comment .comment-reply-container {
    margin-left: 15%;
    border-left: 1px solid rgb(220, 220, 220);
}


/* Like button */

.like a {
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    color: #008a68;
}

.like svg {
    cursor: pointer;
    overflow: visible;
    width: 60px;
}

.like svg #heart {
    transform-origin: center;
    animation: animateHeartOut 0.3s linear forwards;
}

.like svg #main-circ {
    transform-origin: 29.5px 29.5px;
}

.like .like-checkbox {
    display: none;
}

.like form .like-checkbox:checked+label svg #heart {
    transform: scale(0.2);
    fill: #e2264d;
    animation: animateHeart 0.3s linear forwards 0.25s;
}

.like form .like-checkbox:checked+label svg #main-circ {
    transition: all 2s;
    animation: animateCircle 0.3s linear forwards;
    opacity: 1;
}

.like form .like-checkbox:checked+label svg #grp1 {
    opacity: 1;
    transition: 0.1s all 0.3s;
}

.like form .like-checkbox:checked+label svg #grp1 #oval1 {
    transform: scale(0) translate(0, -30px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
}

.like form .like-checkbox:checked+label svg #grp1 #oval2 {
    transform: scale(0) translate(10px, -50px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
}

.like form .like-checkbox:checked+label svg #grp2 {
    opacity: 1;
    transition: 0.1s all 0.3s;
}

.like form .like-checkbox:checked+label svg #grp2 #oval1 {
    transform: scale(0) translate(30px, -15px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
}

.like form .like-checkbox:checked+label svg #grp2 #oval2 {
    transform: scale(0) translate(60px, -15px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
}

.like form .like-checkbox:checked+label svg #grp3 {
    opacity: 1;
    transition: 0.1s all 0.3s;
}

.like form .like-checkbox:checked+label svg #grp3 #oval1 {
    transform: scale(0) translate(30px, 0px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
}

.like form .like-checkbox:checked+label svg #grp3 #oval2 {
    transform: scale(0) translate(60px, 10px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
}

.like form .like-checkbox:checked+label svg #grp4 {
    opacity: 1;
    transition: 0.1s all 0.3s;
}

.like form .like-checkbox:checked+label svg #grp4 #oval1 {
    transform: scale(0) translate(30px, 15px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
}

.like form .like-checkbox:checked+label svg #grp4 #oval2 {
    transform: scale(0) translate(40px, 50px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
}

.like form .like-checkbox:checked+label svg #grp5 {
    opacity: 1;
    transition: 0.1s all 0.3s;
}

.like form .like-checkbox:checked+label svg #grp5 #oval1 {
    transform: scale(0) translate(-10px, 20px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
}

.like form .like-checkbox:checked+label svg #grp5 #oval2 {
    transform: scale(0) translate(-60px, 30px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
}

.like form .like-checkbox:checked+label svg #grp6 {
    opacity: 1;
    transition: 0.1s all 0.3s;
}

.like form .like-checkbox:checked+label svg #grp6 #oval1 {
    transform: scale(0) translate(-30px, 0px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
}

.like form .like-checkbox:checked+label svg #grp6 #oval2 {
    transform: scale(0) translate(-60px, -5px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
}

.like form .like-checkbox:checked+label svg #grp7 {
    opacity: 1;
    transition: 0.1s all 0.3s;
}

.like form .like-checkbox:checked+label svg #grp7 #oval1 {
    transform: scale(0) translate(-30px, -15px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
}

.like form .like-checkbox:checked+label svg #grp7 #oval2 {
    transform: scale(0) translate(-55px, -30px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
}

.like form .like-checkbox:checked+label svg #grp2 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
}

.like form .like-checkbox:checked+label svg #grp3 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
}

.like form .like-checkbox:checked+label svg #grp4 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
}

.like form .like-checkbox:checked+label svg #grp5 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
}

.like form .like-checkbox:checked+label svg #grp6 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
}

.like form .like-checkbox:checked+label svg #grp7 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
}

@keyframes animateCircle {
    40% {
        transform: scale(10);
        opacity: 1;
        fill: #dd4688;
    }
    55% {
        transform: scale(11);
        opacity: 1;
        fill: #d46abf;
    }
    65% {
        transform: scale(12);
        opacity: 1;
        fill: #cc8ef5;
    }
    75% {
        transform: scale(13);
        opacity: 1;
        fill: transparent;
        stroke: #cc8ef5;
        stroke-width: 0.5;
    }
    85% {
        transform: scale(17);
        opacity: 1;
        fill: transparent;
        stroke: #cc8ef5;
        stroke-width: 0.2;
    }
    95% {
        transform: scale(18);
        opacity: 1;
        fill: transparent;
        stroke: #cc8ef5;
        stroke-width: 0.1;
    }
    100% {
        transform: scale(19);
        opacity: 1;
        fill: transparent;
        stroke: #cc8ef5;
        stroke-width: 0;
    }
}

@keyframes animateHeart {
    0% {
        transform: scale(0.2);
    }
    40% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes animateHeartOut {
    0% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 768px) {
    .content-row {
        display: block;
        height: fit-content;
    }
    .center .interactive {
        flex-direction: row;
    }
    .center {
        border-top: 1px solid;
        border-bottom: 1px solid;
        width: 100%;
    }
    .right .scroll-hidden {
        height: 50vh;
    }
}

@media only screen and (min-width: 768px) {
    .content-row {
        display: flex;
    }
    .center .interactive {
        flex-direction: column;
    }
    .center {
        border-left: 1px solid;
        border-right: 1px solid;
    }
}

.temp {
    display: none;
}

.comment-menu {
    position: absolute;
    background-color: white;
    border: 1px solid;
    width: max-content;
    right: 0;
    z-index: 1;
    display: none;
    border-radius: 5px;
}

.comment-menu ul {
    list-style-type: none;
    padding: 10px;
    display: flex;
    justify-content: left;
}

.comment-menu ul li a {
    color: black;
}

.comment-menu .cover-layer {
    position: fixed;
    bottom: 0;
    right: 0;
    height: calc(100vh - 50px);
    width: 83vw;
    z-index: -1;
}

.scrollTop {
    position: absolute;
    bottom: 5%;
    right: 15px;
}

.scrollTop button {
    background: #EF233C;
    outline: none;
    border: none;
    color: white;
    height: 50px;
    width: 50px;
    font-size: 150%;
    border-radius: 100%;
}