#main-menu {
    position: relative;
    height: 50px;
    top: 0;
    right: 0;
    z-index: 1;
    background: white;
    width: 100%;
    padding: 0px 15px;
}

#main-menu .left div {
    margin: 0px 15px;
}

.menu-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.menu-bar .menu {
    list-style: none;
    display: flex;
}

.menu-bar .menu-item {
    margin: 5px 0px;
    height: 40px;
    min-width: 40px;
    padding: 15px;
    border-radius: 5px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-bar .menu-item:hover {
    background: rgb(220, 220, 220);
}

.menu-bar .left,
.menu-bar .right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-bar .right .button {
    margin: 5px;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.menu-bar .upload {
    background: #EF233C;
    color: white;
}

.menu-bar .edit,
.menu-bar .more {
    background: rgb(220, 220, 220);
    color: black;
}

#menu-btn {
    height: 46px;
    width: 46px;
    min-width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-btn button {
    border-radius: 100%;
    border: none;
    background: none;
    transition: 0.05s ease;
}

#menu-btn button:active {
    background-color: #8d99ae2f;
    padding: 14px 16px;
}

#logo {
    width: fit-content;
}

#logo a {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo a img {
    height: 36px;
}

#logo a h1 {
    font-size: 23px;
}


/* Search input */

#searchbar form {
    position: relative;
    width: 30vw;
    background: #EF233C;
    border: 1px solid #2f2f2f;
    border-radius: .2rem;
}

#searchbar input,
#searchbar button {
    height: 2rem;
    border: 0;
    color: #2f2f2f;
    font-size: 1rem;
}

#searchbar input[type="search"] {
    outline: 0;
    width: 100%;
    background: white;
    padding: 0 1.6rem;
    border-radius: .2rem;
    appearance: none;
    transition: all .3s cubic-bezier(0, 0, 0.43, 1.49);
    ;
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
}

#searchbar button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 4rem;
    font-weight: bold;
    background: #EF233C;
    border-radius: 0 .2rem .2rem 0;
}

#searchbar input:not(:placeholder-shown) {
    border-radius: .2rem 0 0 .2rem;
    width: calc(100% - 4rem);
}

#searchbar input:not(:placeholder-shown)+button {
    display: block;
}

#searchbar label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}


/* Notify */

#notify {
    position: relative;
}

#notify span {
    position: absolute;
    font-size: 10px;
    background-color: #EF233C;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    left: 10px;
    top: -6px;
    color: white;
}

.menu-item.user {
    border-radius: 40px;
    padding: 7px;
}

.user-link {
    display: flex;
    justify-self: center;
    align-items: center;
    text-decoration: none;
}

.user-link .avt {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin-right: 10px;
    object-fit: cover;
}

.user-link .name {
    letter-spacing: 1px;
}