:root {
    --space-cadet: #2B2D42;
}

#menu-left {
    z-index: 1;
    background-color: #ffffff;
    height: calc(100vh - 75px);
}

#main {
    height: calc(100vh - 75px);
}

a {
    text-decoration: none;
}

.menu-item {
    display: flex;
    margin: 5px;
}

.menu-item span {
    position: absolute;
    left: 60px;
}

#propose .user-block {
    box-shadow: 2px 2px 2px whitesmoke;
    display: none;
    margin: 15px 10px;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    #menu-left {
        width: 15rem;
        position: absolute;
    }
}

@media only screen and (min-width: 768px) {
    #menu-left {
        width: 17rem;
        position: relative;
    }
}