:root {
    --space-cadet: #2B2D42;
}

#menu-left {
    width: 20rem;
    position: relative;
}

#main {
    height: calc(100vh - 75px);
}

a {
    text-decoration: none;
}

.menu-item {
    display: flex;
    margin: 5px;
}

.menu-item span {
    position: absolute;
    left: 60px;
}

#propose .user-block {
    box-shadow: 2px 2px 2px whitesmoke;
    display: none;
}